{
{% for device in data.list %}
  "{{ device['serial'] }}": {
   "_sys_allowed_ap": "{{ device['mac'] }}",
   "_sys_lan_mac": "{{ device['mac'] }}",
   "_sys_serial": "{{ device['serial'] }}",
   "model": "{{ device['model'] }}",
   "ap_name": "{{ device['name'] }}"
  }{% if not loop.last %},
{% endif %}
{% endfor %}
}
